.row
  .page-header.main-header.col-md-12
    h1.pull-left
      a(href='#/home/')
        img.logo(src="img/flappy-bird.png")
      a(href='#/home/') Flapper!
    h1.pull-right
      a.btn.btn-primary()
        span.glyphicon.glyphicon-plus
        |&nbsp;&nbsp; Post