.col-md-6.col-sm-12.thumbnail

  .embed-responsive.embed-responsive-16by9(ng-if="post.source === 'youtube'")
    youtube-video.embed-responsive-item(video-id="{{post.externalId}}")

  .embed-responsive.embed-responsive-16by9(ng-if="post.source === 'vimeo'")
    vimeo-video.embed-responsive-item(video-id="{{post.externalId}}")

  a(ng-if="post.source === 'web'", href='{{post.link}}', target='_blank')
    img(img-default, ng-src='{{CDN_URL}}img/screenshots/{{post.id}}.jpg', default-src='img/default.jpg')

.jumbotron.col-md-6.col-sm-12(style="background:transparent")
  h1 {{post.title}}
  p {{post.teaser}}
  p
    a.btn.btn-success(ng-click='upvotePost(post)')
      span.glyphicon.glyphicon-thumbs-up
      |&nbsp;&nbsp;{{post.upvotes}} flaps
    |&nbsp;
    a.btn.btn-info(ng-show='post.link', href='{{post.link}}', target='_blank')
      span.glyphicon.glyphicon-hand-right
      |&nbsp;&nbsp;Website