<div class="page-header">
  <h1>Flapper News</h1>
</div>
<div ng-repeat="post in posts | orderBy:'-upvotes'">
  <span class="glyphicon glyphicon-thumbs-up"
  ng-click="upvotePost(post)"></span>
  {{post.upvotes}}
  <span class="comment">
    <a ng-show="post.link" href="{{post.link}}" target="_blank">
      {{post.title}}
    </a>
    <span ng-hide="post.link">
      {{post.title}}
    </span>
  </span>
  <span>
    <a href="#/posts/{{post.id}}">{{post.comments.length || 0}} Comments</a>
  </span>
</div>
<form name="frmPost" ng-submit="addPost()"
  style="margin-top:30px;">
  <h3>Add a new post</h3>
  <div class="form-group">
    <input type="text"
    class="form-control"
    placeholder="Title"
    ng-model="title" required></input>
  </div>
  <div class="form-group">
    <input type="url"
    class="form-control"
    placeholder="Link"
    ng-model="link"></input>
  </div>
  <span style="color:red" ng-show="frmPost.title.$error.required">Title is required</span>
  <span style="color:red" ng-show="frmPost.link.$error.url">Invalid url</span>
  <button type="submit" class="btn btn-primary">Post</button>
</form>