.col-md-6.col-sm-12.thumbnail.min-height

  video-iframe(ng-if="post.source === 'youtube' || post.source === 'vimeo'", video-id="{{post.externalId}}", video-type="{{post.source}}")

  video-iframe(ng-if="post.source === 'web-video'", video-embed="{{post.videoPlayer}}")

  a(ng-if="post.source === 'web'", href='{{post.link}}', target='_blank')
    img(ng-if='post.image', img-default, try-src='{{CDN_URL}}{{SCREENSHOTS}}{{post.image}}', default-src='img/default.jpg')
    img(ng-if='!post.image', img-default, try-src='{{CDN_URL}}{{SCREENSHOTS}}{{post.id}}.jpg', default-src='img/default.jpg')

.jumbotron.col-md-6.col-sm-12(style="background:transparent")
  h1 {{post.title}}
  p.tiny
    small
      span posted&nbsp;
      time(am-time-ago="post.created")
  p {{post.teaser}}
  p
    a.btn.btn-success(ng-click='upvotePost(post)')
      span.glyphicon.glyphicon-thumbs-up
      |&nbsp;&nbsp;{{post.upvotes}} flaps
    |&nbsp;
    a.btn.btn-info(ng-show='post.link', href='{{post.link}}', target='_blank')
      span.glyphicon.glyphicon-hand-right
      |&nbsp;&nbsp;Website