a.btn.btn-success(ng-click='upvotePost(post)')
  span.glyphicon.glyphicon-thumbs-up
  |&nbsp;&nbsp;{{post.upvotes}} flaps
span.comment
  a.favicon(href='#/posts/{{post.id}}')
    img(img-default, ng-src='{{CDN_URL}}img/favicons/{{post.id}}.ico', default-src='favicon.ico')
  |&nbsp;&nbsp;
  a(href='#/posts/{{post.id}}') {{post.title}}
span
  | &nbsp;&nbsp;&nbsp;
  a(href='#/posts/{{post.id}}') {{post.comments.length || 0}} Comments