a.btn.btn-success(ng-click='upvotePost(post)')
  span.glyphicon.glyphicon-thumbs-up
  |&nbsp;&nbsp;{{post.upvotes}} flaps
span.comment
  a.favicon(href='#/posts/{{post.id}}')
    img(ng-if='post.icon', img-default, try-src='{{CDN_URL}}{{FAVICONS}}{{post.icon}}', default-src='favicon.ico')
    img(ng-if='!post.icon', img-default, try-src='{{CDN_URL}}{{FAVICONS}}{{post.id}}.ico', default-src='favicon.ico')
  |&nbsp;&nbsp;
  a(href='#/posts/{{post.id}}') 
    |{{post.title | limitTo: 20 }}
    i(ng-if="post.title.length > 20") ...
span
  | &nbsp;&nbsp;&nbsp;
  a(href='#/posts/{{post.id}}') {{post.comments.length || 0}} Comments