.page-header
  h1 Flapper News
div.post-row(ng-repeat="post in posts | orderBy:'-upvotes'")
  span.glyphicon.glyphicon-thumbs-up(ng-click='upvotePost(post)')
  |   {{post.upvotes}}
  span.comment
    a(ng-show='post.link', href='{{post.link}}', target='_blank')
      | {{post.title}}
    span(ng-hide='post.link')
      | {{post.title}}
  span
    | &nbsp;
    a(href='#/posts/{{post.id}}') {{post.comments.length || 0}} Comments
form(name='frmPost', ng-submit='addPost()', style='margin-top:30px;')
  h3 Add a new post
  .form-group
    input.form-control(type='text', placeholder='Title', ng-model='title', required='')
  .form-group
    input.form-control(type='url', placeholder='Link', ng-model='link')
  span(style='color:red', ng-show='frmPost.title.$error.required') Title is required
  span(style='color:red', ng-show='frmPost.link.$error.url') Invalid url
  button.btn.btn-primary(type='submit') Post