html
  head
    title Flapper!
    link(href="libs/bootswatch-dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="css/style.css", rel="stylesheet")
      
  body(cdn, ng-app="flapperNews", data-url="#{CDN_URL}")
    .container
      include partials/page-header.jade
      ui-view

    script(src="libs/angular/angular.min.js")
    script(src="libs/angular-ui-router/release/angular-ui-router.min.js")
    script(src="libs/angular-bootstrap/ui-bootstrap.min.js")
    script(src="libs/angular-bootstrap/ui-bootstrap-tpls.min.js")

    script(src="js/app.js")