html
  head
    title Flapper!
    link(href="libs/bootswatch-dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="css/style.css", rel="stylesheet")
      
  body(ng-app="flapperNews", root-scope, data-cdn-url="#{CDN_URL}", autoscroll="true")
    .container
      ui-view

    script(src="libs/angular/angular.min.js")
    script(src="libs/angular-ui-router/release/angular-ui-router.min.js")
    script(src="libs/angular-bootstrap/ui-bootstrap.min.js")
    script(src="libs/angular-bootstrap/ui-bootstrap-tpls.min.js")
    script(src="libs/moment/min/moment.min.js")
    script(src="libs/angular-moment/angular-moment.min.js")

    script(src="js/app.js")