/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/

a {
  color: #00B7FF;
}

.btn {
	margin-right:4px;
}

.post-row, .comment-row {
	margin-bottom:18px;
}

img.logo {
	width:40px;
	margin-right:8px;
    margin-top: -6px;
}

.glyphicon-thumbs-up { cursor:pointer }
.comment { font-size:20px; margin-left:10px }

.post-form {
	margin-top:30px;
}

.screenshot img {
	width:60%;
}

.favicon img {
	width:16px;
	height:16px;
}

h1 .favicon img {
	width:32px;
	height:32px;
}

.page-header {
	margin-top:20px;
}

.main-header a {
	text-decoration:none;
	color: inherit;
}

.post-col {
	margin-top:20px;
	margin-bottom:20px;
}

.post-col .btn {
	font-size:11px;
}

.post-col h4 {
	font-size:16px;
	line-height: 16px;
	width:100%;
	height: 36px;
	overflow:hidden;
}

.post-col .post-desc {
	height:80px;
	overflow:hidden;
	text-overflow: ellipsis;
}

.modal-container .post-form-container {
	position: relative;
}

.modal-container .post-form-container .btn-close {
	position: absolute;
	top: -12px;
    right: -14px;
    width: 30px;
    height: 30px;
    font-size: 12px;
    padding-right: 0px;
    padding-top: 7px;
    border-radius: 50%;
    cursor: pointer;
    
}

.modal-container .post-form-container .btn-close span.glyphicon {
	margin-left: -15px;
}

.modal-container .post-form-container form {
	position:relative;
	background:#2b3e50;
	border:4px solid #4e5d6c;
	padding-bottom:12px;
}

.modal-content {
	border:0;
}

.form-group.bottom-buttons {
	height:30px;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	.jumbotron h1 {
		font-size:28px;
	}
	.jumbotron p {
		font-size:18px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.jumbotron h1 {
		font-size:32px;
	}
	.jumbotron p {
		font-size:18px;
	}
	.modal-container .post-form-container .btn-close {
		top: 10px;
    	right: -20px;
    	width: 40px;
    	height: 46px;
    	font-size: 16px;
	    padding-right: 30px;
	    padding-top: 14px;
	}
	.modal-container .post-form-container .btn-close span.glyphicon {
		margin-left: 0px;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.jumbotron h1 {
		font-size:68px;
	}
	.jumbotron p {
		font-size:23px;
	}
}