/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}*/

a {
  color: #00B7FF;
}

.btn {
	margin-right:4px;
}

.post-row, .comment-row {
	margin-bottom:18px;
}

img.logo {
	width:40px;
	margin-right:8px;
}

.post-form {
	margin-top:30px;
}