form.post-form.col-md-12(name='frmPost', ng-submit='addPost()')
  h3 Add a Post
  .form-group
    input.form-control(type='text', placeholder='Title', ng-model='title', required='')
  .form-group
    input.form-control(type='url', placeholder='Link', ng-model='link')
  .form-group
    input.form-control(type='text', placeholder='Teaser', ng-model='teaser')
  .form-group
    textarea.form-control(placeholder='Description', ng-model='desc', rows="12")

  .form-group
    uib-alert(type='danger', ng-if='frmPost.title.$error.required') Title is required
    uib-alert(type='danger', ng-if='frmPost.link.$error.url') Invalid url

    uib-alert(type='danger', ng-if='apiErrors', ng-repeat="error in apiErrors") {{ error }}

    uib-alert(type='success', ng-if='apiSuccess')
      div{{ apiSuccess }}
      div(ng-click="closeModals()")
        a.favicon(href='#/posts/{{lastPost.id}}')
          img(img-default, ng-src='{{CDN_URL}}img/favicons/{{lastPost.id}}.ico', default-src='favicon.ico')
        |&nbsp;&nbsp;
        a(href='#/posts/{{lastPost.id}}') 
          |{{lastPost.title | limitTo: 30 }}
          i(ng-if="lastPost.title.length > 30") ...

  .form-group.bottom-buttons
    button.pull-right.btn.btn-primary(type='submit')
      span.glyphicon.glyphicon-plus
      |&nbsp;&nbsp; Add Post