form.post-form.col-md-12(name='frmPost', ng-submit='addPost()')
  h3 Add a Post
  .form-group
    input.form-control(type='url', placeholder='Link', ng-model='link', ng-change='linkLookup()', ng-model-options='{debounce: 750}', required='')
  .form-group(ng-if="previewSpinner")
    img(src="img/hourglass.gif")
  .form-group(ng-if='preview')
    .row
      .col-xs-3
        img.thumbnail(ng-if='preview.image', src="{{preview.image}}", width="100%")
        img.thumbnail(ng-if='!preview.image', src="img/default.jpg", width="100%")
      .col-xs-9
        h4 {{title}}
        p {{teaser}}
  .form-group
    input.form-control(type='text', placeholder='Title', ng-model='title', required='')
  .form-group
    input.form-control(type='text', placeholder='Teaser', ng-model='teaser')
  .form-group
    textarea.form-control(placeholder='Description', ng-model='desc', rows="12")

  .form-group
    uib-alert(type='danger', ng-if='frmPost.title.$error.required') Title is required
    uib-alert(type='danger', ng-if='frmPost.link.$error.url') Invalid url

    uib-alert(type='danger', ng-if='apiErrors', ng-repeat="error in apiErrors") {{ error }}

    uib-alert(type='success', ng-if='apiSuccess')
      div {{ apiSuccess }}
      div(ng-click="closeModals()")
        a.favicon(href='#/posts/{{lastPost.id}}')
          img(ng-if='lastPost.icon', img-default, try-src='{{CDN_URL}}img/favicons/{{lastPost.icon}}', default-src='favicon.ico')
          img(ng-if='!lastPost.icon', img-default, try-src='{{CDN_URL}}img/favicons/{{lastPost.id}}.ico', default-src='favicon.ico')
        |&nbsp;&nbsp;
        a(href='#/posts/{{lastPost.id}}') 
          |{{lastPost.title | limitTo: 50 }}
          i(ng-if="lastPost.title.length > 50") ...

  .form-group.bottom-buttons
    button.pull-right.btn.btn-primary(type='submit', ng-if="!postSpinner")
      span.glyphicon.glyphicon-plus
      |&nbsp;&nbsp; Add Post
    img.pull-right(ng-if="postSpinner", src="img/hourglass.gif")